#panel {
	display: table;
	margin: 0 auto;
}

.button {
	margin-top: 10px;
	border-radius:10px;
	border-width: 3px;
	border-color: #404040;
	border-style: solid;
}

.button-selected {
	border-color: #D4B996FF;
}

#bottom {
	position: fixed;
	bottom: 3.3%;
	left: 0;
	right:0;
	text-align: center;
	/* transform: translateX(-50%); */
}

.index {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
	appearance:none;
	padding-left: 10px;
	padding-right: 10px;
	height:2em;
	background-color: #D4B996FF;
	border: 2px rgb(100, 3, 3) solid;
}

.lnx {
	padding: 5px;
	color: rgb(100, 3, 3);
	cursor: pointer;
	/* border: 2px #D4B996FF solid; */
}

html, body  {
    padding: 0px;
    min-height: 100%;
    display: block;
	margin: 0px;
	background-color: #A07855FF;
}

canvas {
	background-color: #D4B996FF;
	border: 3px rgb(100, 3, 3) solid;
	padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
	right: 0;
}
